---
import { getCollection } from "astro:content";

import SectionScheme from "@/utils/Section-Scheme.astro";
import ItemExperience from "@/utils/Item-WSVA.astro";

import { formatYears } from "@/assets/js/Format-Time";
import { fetchRepos } from "@/api/acces_api";

const developer = await fetchRepos().then((repos) => {
  return repos.map((res: any) => {
    const startDate = res.created_at;
    const endDate = res.pushed_at || null;

    const date = formatYears(startDate, endDate);

    return {
      title: res.name || "Título no disponible",
      date: date,
      description: res.description || "Descripción no disponible",
      download: res.html_url || "URL no disponible",
      badge: "latest " + res.language || "Sin destacados",
    };
  });
});

const experiences = await getCollection("experiences");
const atteClient = experiences.filter(
  ({ data }: any) => data.type === "AtteClient"
);
const technical = experiences.filter(
  ({ data }: any) => data.type === "Technical"
);

const titleClass = "mt-2 text-xl font-semibold text-black"
---

<SectionScheme id="" className="pb-10 gap-4">
  <header>
    <h1 class="text-2xl text-black font-bold">Experiencia</h1>
  </header>
  <div class="text-gray-900 list-none flex flex-col gap-4">
    <h1 class={titleClass}>- Software:</h1>
    {
      developer.map((dev: any) => (
        <ItemExperience
          name={dev.title}
          position="Programador"
          years={dev.date}
          summary={dev.description}
        />
      ))
    }
    <h1 class={titleClass}>- Atención al cliente:</h1>
    {
      atteClient.map(({ data }: any) => (
        <ItemExperience
          name={data.title}
          position={data.badge}
          years={data.date}
          summary={data.description}
        />
      ))
    }
    <h1 class={titleClass}>- Tecnico:</h1>
    {
      technical.map(({ data }: any) => (
        <ItemExperience
          name={data.title}
          position={data.badge}
          years={data.date}
          summary={data.description}
        />
      ))
    }
  </div>
</SectionScheme>
