---
import {
  getDeveloperExperiences,
  getOtherExperiences,
} from "@/assets/ts/experience-service";
import SectionScheme from "@/utils/Section-Scheme.astro";
import ItemExperience from "@/utils/Item-WSVA.astro";
import type { ExperienceProps } from "@/type/type";

const developer: ExperienceProps[] = await getDeveloperExperiences();
const atteClient: ExperienceProps[] = await getOtherExperiences("AtteClient");
const technical: ExperienceProps[] = await getOtherExperiences("Technical");

const titleClass = "mt-2 text-xl font-semibold text-black";
---

<SectionScheme id="experiencia" className="pb-10 gap-4">
  <header>
    <h1 class="text-2xl text-black font-bold">Experiencia</h1>
  </header>
  <div class="text-gray-900 list-none flex flex-col gap-4">
    <h1 class={titleClass}>- Software:</h1>
    {
      developer.map((dev) => (
        <ItemExperience
          name={dev.title}
          position="Programador"
          years={dev.date}
          summary={dev.description}
        />
      ))
    }
    <h1 class={titleClass}>- Atención al cliente:</h1>
    {
      atteClient.map((exp) => (
        <ItemExperience
          name={exp.title}
          position={exp.badge}
          years={exp.date}
          summary={exp.description}
        />
      ))
    }
    <h1 class={titleClass}>- Técnico:</h1>
    {
      technical.map((exp) => (
        <ItemExperience
          name={exp.title}
          position={exp.badge}
          years={exp.date}
          summary={exp.description}
        />
      ))
    }
  </div>
</SectionScheme>
