---
import FooterIconMe from "@cvmain/Components/Me/Footer-Icon-Me.astro";
import HeaderMe from "@cvmain/Components/Me/Header-Me.astro";
import MainMe from "@cvmain/Components/Me/Main-Me.astro";
import SectionScheme from "@/utils/Section-Scheme.astro";
import type { MeProps } from "@/type-script/type";
import { basics } from "@cv";

const {
  name,
  fecnac,
  dni,
  label,
  image,
  email,
  phone,
  location: { city, region },
  profiles,
} = basics as MeProps;

const propsIconMe = {
  label,
  name,
  fecnac,
  dni,
  email,
  phone,
  city,
  region,
};
---

<SectionScheme id="" className="pt-24 pb-0">
  <div
    class="w-full h-auto flex flex-col md:flex-row items-center gap-10 md:gap-40 text-gray-900"
  >
    <article
      class="w-full md:w-2/3 h-auto flex flex-col items-center md:items-start gap-3"
    >
      <HeaderMe {...propsIconMe} />
      <FooterIconMe
        name={name}
        email={email}
        phone={phone}
        profiles={profiles}
      />
    </article>
    <MainMe name={name} image={image} />
  </div>
</SectionScheme>
