---
import Button from "@/utils/Button.astro";
import Tesla from "@/assets/landings/tesla-landing.webp";
import DCoDX from "@/assets/landings/dcodx.jpg";
import AstroIcon from "@/icons/astroIcon.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import JSIcon from "@/icons/js.astro";
import React from "@/icons/react.astro";
import CSS from "@/icons/css.astro";
import GitHub from "@/icons/github.astro";

const TAGS = {
  Astro: {
    name: "Astro",
    icon: AstroIcon,
  },
  Tailwind: {
    name: "TailwindCss",
    icon: TailwindIcon,
  },
  JS: {
    name: "JavaScript",
    icon: JSIcon,
  },
  React: {
    name: "React",
    icon: React,
  },
  Css: {
    name: "CSS",
    icon: CSS,
  },
};

const PROJECTS = [
  {
    title: "Tesla Landing - Clon",
    description:
      "Clon de la pagina de tesla antigua, involucra la creacion de las animaciones y dise침o de la pagina en base a la pagina original, todo esto realizado con Astro, Tailwind y JS. Para aprendizaje, practica y mejora en el framework utilizado . Optimizado solo para desktop con un enfoque a mejorar en responsividad para mas adelante; el uso de animaciones tambien optimizados solo para desktop.",
    link: "#",
    github: "https://github.com/LGsus113/Tesla-Page-Astro.git",
    image: Tesla.src,
    tags: [TAGS.Astro, TAGS.Tailwind, TAGS.JS],
    color: "text-green-300",
    tamanio: "sm:h-[27vh] md:h-[36vh] lg:h-[45vh] xl:h-[55vh]",
  },
  {
    title: "D-CoDX - Proyecto Cibertec",
    description:
      "Proyecto educativo para presentacion final de curso en cibertec, 5to ciclo. Intenci칩n de aprendizaje para programadores y disenadores con la busqueda de un entorno de trabajo saludable. Proyecto maqueta en dos versiones: versi칩n con ReactJS y versi칩 nativa con HTML, CSS y JS. Esta iniciativa busca dar una idea para generar una pagina web que ivolucre el trabajo ambos tipos de freelancers.",
    link: "#",
    github: "https://github.com/LGsus113/D-CoDX-.-React-Vite.git",
    image: DCoDX.src,
    tags: [TAGS.React, TAGS.Css],
    color: "text-yellow-200",
    tamanio: "xl:h-[70vh]",
  },
];
---

{
  PROJECTS.map(
    ({ title, description, image, tags, color, tamanio, github }) => (
      <article class="flex flex-col gap-5 items-center">
        <div class="w-full h-auto flex flex-col gap-1">
          <h3 class={`text-2xl xl:text-3xl ${color}`}>{title}</h3>
          <p class="text-base xl:text-lg xl:text-justify text-gray-500">
            {description}
          </p>
        </div>
        <div
          class={`w-full ${tamanio} 2xl:w-[55vw] relative overflow-hidden flex items-center rounded-md shadow-xl shadow-purple-300/[0.2] group`}
        >
          <img
            src={image}
            alt={`Captura de pantalla del proyecto ${title}`}
            class="w-full h-full object-cover object-center group-hover:scale-105 transition-all duration-300 ease-in-out"
          />
          <ul class="absolute top-1 left-1 lg:top-5 lg:left-5 z-10 flex flex-wrap justify-start gap-2 text-white">
            {tags.map(({ name, icon: Icon }) => (
              <li>
                <span class="w-auto h-auto flex flex-1 gap-1 xl:gap-2 text-lg items-center justify-center px-4 py-1 bg-purple-900/[.9] rounded-full shadow-inner shadow-purple-300/[.5]">
                  <Icon class="size-4" />
                  {name}
                </span>
              </li>
            ))}
          </ul>
          <footer class="absolute bottom-1 right-1 lg:bottom-5 lg:right-5">
            <Button link={github} title="Github">
              <GitHub class="size-5 me-3.5"/>
            </Button>
          </footer>
        </div>
      </article>
    )
  )
}
