---
import Tesla from "@/assets/landings/tesla-landing.webp";
import DCoDX from "@/assets/landings/dcodx.jpg";

import AstroIcon from "@/icons/astroIcon.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import JSIcon from "@/icons/js.astro";
import React from "@/icons/react.astro";
import CSS from "@/icons/css.astro";

const TAGS = {
  Astro: {
    name: "Astro",
    icon: AstroIcon,
  },
  Tailwind: {
    name: "TailwindCss",
    icon: TailwindIcon,
  },
  JS: {
    name: "JavaScript",
    icon: JSIcon,
  },
  React: {
    name: "React",
    icon: React,
  },
  Css: {
    name: "CSS",
    icon: CSS,
  }
};

const PROJECTS = [
  {
    title: "Tesla Landing - Clon",
    description:
      "Clon de la pagina de tesla antigua con Astro, Tailwind y JS. Para aprendizaje y practica del framework utilizado. Optimizado solo para desktop y uso de animaciones para la misma.",
    link: "#",
    github: "https://github.com/LGsus113/Tesla-Page-Astro.git",
    image: Tesla.src,
    tags: [TAGS.Astro, TAGS.Tailwind, TAGS.JS],
    color: "text-green-300",
    tamanio: "sm:h-[27vh] md:h-[36vh] lg:h-[45vh] xl:h-[55vh]"
  },
  {
    title: "D-CoDX",
    description:
      "Proyecto Cibertec de presentacion final de curso. Proyecto de 5to ciclo. Proyecto integrador para diseñadores y programadores.",
    link: "#",
    github: "https://github.com/LGsus113/D-CoDX-.-React-Vite.git",
    image: DCoDX.src,
    tags: [TAGS.React, TAGS.Css],
    color: "text-yellow-200",
    tamanio: "xl:h-[70vh]"
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags, color, tamanio }) => (
    <article class="flex flex-col gap-3">
      <h3 class={`text-2xl xl:text-4xl font-medium ${color}`}>{title}</h3>
      <p class="text-base xl:text-xl text-white">{description}</p>
      <div class={`w-full ${tamanio} 2xl:w-[55vw] relative overflow-hidden flex items-center rounded-md shadow-xl shadow-purple-300/[0.2] group`}>
        <img
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
          class="w-full h-full object-cover object-center group-hover:scale-105 transition-all duration-300 ease-in-out"
        />
        <ul class="absolute top-0 left-5 z-10 flex flex-wrap justify-start gap-2 py-5 text-white">
          {tags.map(({ name, icon: Icon }) => (
            <li>
              <span class="w-auto h-auto flex flex-1 gap-1 xl:gap-2 text-lg items-center justify-center px-4 py-1 bg-purple-900/[.9] rounded-full shadow-inner shadow-purple-300/[.5]">
                <Icon class="size-4" />
                {name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
}
